* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #2e2828;
  color: #fff;
  width: 200px;
  padding: 20px;
}

.content {
  background-color: #f0f0f0;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
